@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

button {
    cursor: pointer;
}

.form-input {
    width: 100%;
    appearance: none;
    padding: 10px 15px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background-color: white;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:disabled {
    background-color: #f9fafb;
    cursor: not-allowed;
}

.error-text {
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 0.25rem;
    font-weight: 500;
}
